<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="pokedexApp">

    <div class="App" ng-controller="PokeDexController as vm">
        <img roll-on-scroll class="pokeball-back" id="pokeballBack" src="//hanashiro.github.io/pokedex/images/pokeball.svg">

        <input type="text" id="pokeFilter" placeholder="Search" ng-model="vm.searchText"/>

        <ul class="poke-list" id="pokeList">
            <poke-list-item-component ng-repeat="pkm in vm.pkmList" pkm="pkm"></poke-list-item-component>       
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="js/App.js" ></script>
    <script src="js/controllers/PokedexController.js"></script>
    <script src="js/components/PokeListItem/PokeListItemComponent.js"></script>
    <script src="js/directives/RollOnScrollDirective.js"></script>
</body>
</html>